.menu {
  color: darkgreen;
  font-size: larger;
  font-weight: bolder;
}

.parrafo {
  color: deepskyblue;
  font-style: italic;
}

.tituloparrafo {
  color: firebrick;
  font-weight: bolder;
  font-size: larger;
}
