/* Agregamos colores d e fondo para las etiq uetas de la maq uetacion */
body {
  background-color: darkslateblue;
}

.contenedor {
  background-color: darkgrey;
}

header {
  background-color: darkorchid;
}

nav {
  background-color: darkseagreen;
}

section {
  background-color: white;
}

footer {
  background-color: yellowgreen;
}

/* Agregamos un borde de tipo dotted */
.bordel {
  border-style: dotted;
}

/* Agregamos un borde de tipo d ashed */
.borde2 {
  border-style: dashed;
}

/* Agregamos un borde de tipo solid */
.borde3 {
  border-style: solid;
}

/* Agregamos un borde de tipo double */
.borde4 {
  border-style: double;
}

/* Agregamos un borde de tipo groove */
.bordes {
  border-style: groove;
}

/* Agregamos un borde de tipo ridge */
.borde6 {
  border-style: ridge;
}

/* Agregamos un borde de tipo inset */
.borde7 {
  border-style: inset;
}
/* Agregamos un borde de tipo outset */
.borde8 {
  border-style: outset;
}

/* Agregamos un borde de tipo none */
.borde9 {
  border-style: none;
}

/* Agregamos un borde de tipo hidden */
.borde10 {
  border-style: hidden;
}

/* Agregamos un borde de tipo combinado
cuando realizamos bord es combiados la sintaxis seria la siguiente: border-style: (Arriba y Abajo) (Izquierd a y Derecha);
bord er-style: (Arriba) (Izq uierd a y Derecha) (Abajo); border-style: (Arriba) (Derecha) (Abajo) (Izquierd a);
*/
.borde11 {
  border-style: dotted dashed solid double;
}

/* Aplicamos bordes cambiando el ancho del bord e */
.borde12 {
  border-style: dotted;
  border-width: 10px;
}

.borde13 {
  border-style: dashed;
  border-width: medium;
}

.borde14 {
  border-style: solid;
  border-width: 10px 15px 4px 7px;
}

/* Aplicamos bordes cambiando el color del bord e */
.borde15 {
  border-style: solid;
  border-color: deeppink;
}

.borde16 {
  border-style: dashed;
  border-color: deeppink rebeccapurple blue yellowgreen;
}

/* Aplicamos bordes solo a un lugar especifico top - Superior
Bottom - Inferior */
.borde17 {
  border-top-style: dashed;
}

.borde18 {
  border-bottom-style: dotted;
}

.borde19 {
  border-left-style: solid;
}

.borde20 {
  border-right-style: double;
}

/* Aplicamos bordes redond eandolos */
.borde21 {
  border-style: solid;
  border-width: medium;
  border-radius: Spx;
}

.borde22 {
  border-style: solid;
  border-width: 20px;
  border-radius: 15px;
}
