* {
  padding: 10px;
}

body {
  background-color: coral;
}

.contenedor {
  background-color: whitesmoke;
}

/* Agregmos color al texto del parrafo */
.parrafocolor {
  color: yellowgreen;
}

/* alineamos el parrafo */
.parrafoderecha {
  text-align: right;
}

.parrafocentro {
  text-align: center;
}

.parrafoizquierda {
  text-align: left;
}

.parrafojustificado {
  text-align: justify;
}

.parrafosuperior {
  text-align: top;
}

.parrafomedio {
  text-align: middle;
}

.parrafoinferior {
  text-align: bottom;
}

/* Agregamos decoraciones al parrafo  */
.parrafosobrelinea {
  text-decoration: overline;
}

.parrafosubrayado {
  text-decoration: underline;
}

.parrafotachado {
  text-decoration: line through;
}

/* Agregamos transformaciones al texto del parrafo */
.parrafomayuscula {
  text-transform: uppercase;
}

.parrafominusculas {
  text-transform: lowercase;
}

.parrafonombrepropio {
  text-transform: capitalize;
}

/* Agregamos espacio para los textos dl parrafo  */

.parrafosangria {
  text-indent: 80px;
}

.parrafoespacio {
  letter-spacing: 10px;
}

.parrafoespacioletracomprimido {
  letter-spacing: -2px;
}

.parrafoespaciolinea {
  line-height: 2px;
}

.parrafoespaciolineaamplio {
  line-height: 7px;
}

.parrafoespacioletra {
  word-spacing: 15px;
}

.parrafoespacioletracomprimido {
  word-spacing: -2px;
}

/* Agregamos sombras al texto del parrafo  */
.parrafosombra {
  text-shadow: 2px 3px orange;
}

.parrafosombradifuminado {
  text-shadow: 2px 3px 5px red;
}
